.center{
    margin-top: -30px;
    margin-left: 350px;
    margin-bottom: 350px;
}
.loader {
    border: 20px #f3f3f3;
    border-radius: 70%;
    border-top: 30px solid #000000;
    border-bottom: 10px double #00c40a;
    border-right: 5px double #00ff5e;
    border-left: 5px double #00ff5e;
    width: 170px;
    height: 70px;
    animation: spin 3s linear infinite;
    padding: 5px;
}
@keyframes spin {
    100% {
        transform: rotate(50deg);
    }
    50%{
        transform: rotate(150deg);
    }
    0% {
        transform: rotate(50deg);
    }
}
input {
    background-color: rgb(221, 221, 221);
}

.color {
    background-color: transparent;
    border: 0cap;
}

.right {
    text-align: right;
    transform: translateY(-240px);
    pointer-events: none;
}

.see {
    color: #000000;
}

.click {
    pointer-events: initial;
}