
/* nav bar */
nav {
    background-color: rgb(0, 113, 128);
    width: 10%;
    transition: 0.4s;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 15px;
    padding-bottom: 18px;
    display: inline-block;
}

ul {
    display: inline;
    margin: 0;
    padding: 0;
    width: 100% !important;
}
ul li {
    display: inline-block;
}
Li{
    width: 100%;
}
ul li:hover {
    background: #555;
}

ul li:hover ul {
    display: block;
}

ul li ul {
    position: absolute;
    width: 230px;
    display: none;
}

ul li ul li {
    background: #555;
    display: block;
}

ul li ul li a {
    display: block !important;
}

ul li ul li:hover {
    background: #666;
}

.Fixed {
    position: fixed;
    top: 0px;
}

body {
    margin: 0;
}

.disapear:hover {
    display: none;
}
/* nav */
.parallax {
    background-image: url(./img/pexels-669212965-28818459.jpg);
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax2 {
    background-image: url(./img/pexels-alexandru-mnm-1937329291-28873185.jpg);
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax3 {
    background-image: url(./img/pexels-betul-simsek-986914269-28291066.jpg);
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.line{
    border-top: 15px solid black;
    width: 100%;
}
.head{
    font-size: 100px;
    text-align: center;
}
.info {
    font-size: 50px;
    text-align: center;
}
#number{
    transform: translateY(-65px);
    width: 10%;
}
#range{
    pointer-events: none;
}
.bar {
    width: 0%;
    background-color: #04AA6D;
}
.container {
    width: 100%;
    background-color: #ddd;
}
.num {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    transition: 3s;
}
.gone{
    opacity: 0.1;
    padding: 0;
    margin: 0;
}
#inf{
    transform: translateY(-500px);
    padding: 0;
    margin: 0;
}