.row{
    text-align: center;
}
.grave{
    display: inline-block;
    width: 100px;
    height: 100px;
    padding: 0;
    margin: 0;
    contain: none;
    vertical-align: top;
    object-fit: none;
}
.card{
    display: inline-block;
    background-color: #eee;
    width: 100px;
    height: 100px;
    padding: 0;
    margin: 0;
    contain: none;
    vertical-align: top;
    object-fit: none;
}
.card:hover{
    box-shadow: inset 0px 0px 0px 2px black;
}
.card.done:hover {
    box-shadow: none;
}
.med{
    display: none;
}
body{
    background-color: blanchedalmond;
}
.moveable{
    background-color: greenyellow; 
}
.blackpawn {
    content: url(./img/bp_chess_pices-removebg-preview.png);
}
.blackknight{
    content: url(./img/bk_chess_pices-removebg-preview\ \(1\).png);
}
.blackBishop{
    content: url(./img/bb_chess_pices-removebg-preview.png);
}
.blackqueen{
    content: url(./img/bq.png);
}
.blackking{
    content: url(./img/bki_chess_pices-removebg-preview.png);
}
.blackrook{
    content: url(./img/br_chess_pices-removebg-preview.png);
}
.whitepawn {
    content: url(./img/wp_chess_pices-removebg-preview\ \(1\).png);
}
.whiterook{
    content: url(./img/wr_chess_pices-removebg-preview\ \(1\).png);
}
.whiteknight{
    content: url(./img/wk_chess_pice-removebg-preview\ \(1\).png);
}
.whiteBishop{
    content: url(./img/bw_chess_pices-removebg-preview\ \(2\).png);
}
.whitequeen{
    content: url(./img/wq.png);
}
.whiteking{
    content: url(./img/wki_chess_pices-removebg-preview\ \(1\).png);
}
.white{
    width: 200px;
    height: 200px;
    background-color: azure;
    transform: translateY(-700PX);
    text-align: center;
}
.black {
    width: 200px;
    height: 200px;
    background-color: black;
    transform: translateY(-700PX);
    text-align: center;
    color: azure;
}