img{
    width: 15%;
}
body{
    padding-right: 0;
    margin-right: 0;
    padding-left: 40px;
    width: 100%;
    background-color: rgb(234, 234, 234);
    overflow-x: hidden;
}
h3{
    background-color: rgb(68, 68, 68);
    color: white;
    text-align: center;
}
h1{
    text-align: end;
    transform: translateY(60px);
}
p{
    display: flex;
}
input{
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    outline: none;
    background-color: transparent;
    border-color: black;
}
.verysmall{
    width: 12%;
}
.captions{
    font-style: italic;
    font-size: 12px;
    transform: translateY(-10px);
}
.yes-no{
    font-size: 13px;
    line-height: 0%;
}
.checkbox{
    line-height: 0;
    transform: translateY(-10px);
}
.supersmall{
    width: 10%;
}
.small-mediumish {
    width: 37%;
}
.medium-large{
    width: 43%;
}
.short{
    width: 23%;
}
.greybox{
    background-color: rgb(216, 216, 216);
    border-collapse: collapse;
    border: 1px solid black;
    border-left: 0;
    border-right: 0;
    width: 100%;
    height: 10px;
    transform: translateY(-17.5px);
}
.name-comp{
    width: 56%;
}
.somewhatsmall{
    width: 15.5%;
}
.big-greybox {
    background-color: rgb(216, 216, 216);
    border-collapse: collapse;
    border: 1px solid black;
    border-left: 0;
    border-right: 0;
    height: 20px;
    transform: translateY(-17.5px);
}
.line{
    transform-origin: left;
    pointer-events: none;
    line-height: 0.9;
    padding: 0;
    margin: 0;
    width: 98.2%;
}
.line input{
    transform: translateY(69px);
    pointer-events: none;
    background-color:transparent ;
    border-collapse: collapse;
    width: 100%;
}
.line2{
    transform-origin: left;
    pointer-events: none;
    line-height: 0.9;
    padding: 0;
    margin: 0;
    width: 98.2%;
}
.line2 input{
    transform: translateY(52px);
    pointer-events: none;
    background-color: transparent;
    border-collapse: collapse;
    width: 100%;
}
textarea{
    border: 0;
    resize: none;
    width: 98%;
    overflow: hidden;
    outline: none;
}
.textarea{
    outline: none;
    padding: 0;
    margin: 0;
}
.up{
    transform: translateY(-80px);
}
.Signature{
    width: 60%;
}
#remove{
    display: none;
}
label {
    display: inline-block;
    padding: 0 10px;
    cursor: pointer;
}
label span {
    position: relative;
    line-height: 22px;
}
label span:before,
label span:after {
    content: '';
}
label span:before {
    border: 1px solid #222021;
    width: 10px;
    height: 10px;
    margin-right: 3px;
    display: inline-block;
    vertical-align: top;
}
label span:after {
    background: black;
    width: 10px;
    height: 10px;
    position: absolute;
    top: -1px;
    left: 1px;
    opacity: 0;
}
label input:checked+span:after {
    opacity: 1;
}
.education input{
    border-bottom: 0;
    pointer-events: none;
}
.education{
    font-size: 13px;
    transform: translateY(7px);
}
p {
    display: flex;
    flex-wrap: wrap;
}
div input {
    flex-grow: 1;
}
.most{
    height: 15px;
    transform: translateY(15px);
}
.long{
    width: 60%;
}
.high{
    transform: translateY(-20px);
}
.hotfix{
    border-bottom: 0;
    pointer-events: none;
}
.ssmall{
    width: 32.9%;
}
.invisable {
    width: 50.5%;
}
.tiny{
    width: 7% ;
}
.end{
    width: 1px;
}
.page {
    border-collapse: collapse;
    border: 1px solid black;
    width: 90%;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 40px;
    background-color: white;
}
.warn{
    display: none;
    position: absolute;
}
@media only screen and (max-width: 600px){
    .page{
        display: none;
    }
    .warn {
        display:inherit;
        animation: warn 1s infinite;
    }
}
@keyframes warn {
    0%{
        font-size: 10px;
    }
    100% {
        font-size: 40px;
    }
}
@media only screen and (max-width: 605px) {
    p {
        animation: spin 1s infinite;
    }
    
    input {
        animation: spin 1s infinite;
    }
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
@media only screen and (min-width:1450px){
    .disapear{
        display: none;
    }
    .most{
        transform: translateY(0px);
    }
}
.submit{
    width: 10%;
}