.row{
    text-align: center;
}

.card{
    display: inline-block;
    background-color: #eee;
    width: 100px;
    height: 100px
}
.card:hover{
    box-shadow: inset 0px 0px 0px 2px black;
}
.card.done:hover {
    box-shadow: none;
}

.med{
    display: none;
}
/* easy colors */
.red{
    background-color: red;
}

.green{
    background-color: green;
}

.blue{
    background-color: blue;
}

.orange{
    background-color: orange;
}
.pink {
    background-color: pink;
}

.teal {
    background-color: teal;
}

.cyan{
    background-color: cyan;
}

.yellow{
    background-color: yellow;
}
/* med colors */
.purple {
    background-color: purple;
}

.lightblue {
    background-color: lightblue;
}

.black {
    background-color:black;
}

.brown {
    background-color:rgb(123, 93, 29);
}

.cadetblue {
    background-color:cadetblue;
}

.chocolate {
    background-color:chocolate;
}

.crimson {
    background-color:rgb(247, 64, 101);
}

.darkgoldenrod {
    background-color:darkgoldenrod;
}
.darkmagenta {
    background-color:rgb(46, 0, 46);
}

.darkorchid {
    background-color:rgb(190, 113, 228);
}
/* hard colors */
.darkkhaki {
    background-color:darkkhaki;
}

.darkred {
    background-color:darkred;
}

.darkseagreen {
    background-color:darkseagreen;
}

.gold {
    background-color:gold;
}

.greenyellow {
    background-color:greenyellow;
}

.gray {
    background-color:gray;
}

.lightgreen {
    background-color:lightgreen;
}

.lightcoral {
    background-color:lightcoral;
}

.midnightblue {
    background-color:midnightblue;
}

.navajowhite {
    background-color:navajowhite;
}
.olive {
    background-color:olive;
}

.orangered {
    background-color:orangered;
}

.seagreen {
    background-color:seagreen;
}

.greyred {
    background-color:rgb(157, 81, 81);
}

.hidden {
    background-color: #eee;
}
