
nav{
    white-space: nowrap;
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}
body{
    margin: 0;
    padding: 0;
}
p{
    width: 100%;

}
a{
    width: 100%;
    font-size: 100%;
}
button{
    height: 100%;
    width: 25%;
}
button:hover{
    background-color: aqua;
    width: 35%;
    height: 40%;
}
span:hover+div {
    display: block;
}
div {
    background-color: aqua;
    padding: 20px;
    display: none;
}

