p {
    font-family: verdana;
    font-size: 20px;
}
table,th,td{
    border:1px solid black;
    border-collapse: collapse;
    width: 35%;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
}
#first {
    height: 15%;
    width: 20px;
}

#second {
    height: 15%;
    width: 1000px;
}