/* Kyler Deakins 8/28/24 */
table,th,td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 50%;
}
th{
    padding-right: 50px;
    padding-left: 20px;
}
#grey_row{
    background-color: rgb(187, 187, 187);
}
#letter{
    text-align: center;
}
